@CHARSET "ISO-8859-1";

#plateau {
	background-image: url("../ressources/images/star_wars_plateau.jpg");
	background-repeat: no-repeat;
	margin: auto;
}

.div1 {
	width: 50px;
	height: 50px;
	padding: 5px;
	border: 2px solid #aaaaaa;
	color: red;
	background-color: gray;
	opacity: 0.8;
	filter: alpha(opacity = 60);
}

.div2 {
	width: 50px;
	height: 50px;
	padding: 5px;
	border: 2px solid #aaaaaa;
	color: red;
	background-color: white;
	opacity: 0.8;
	filter: alpha(opacity = 80);
}

.drag {
	width: 25px;
	height: 25px;
	padding: 2px;
	color: blue;
	background-image: url("../ressources/images/cerclejeton2.png");
	margin: auto;
	text-align: center;
}