
html {
	height: 100%;	
}

body {
	height: 100%;
	background-color: black;
	background-image: url("../ressources/images/darth-vader-2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	margin: 0;
	padding: 0;
	-webkit-bakground-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#page_table {
	height: 93%;
	width: 100%;
}

#page_td {
	height: 93%;
	padding: 0;
	vertical-align: middle;
}

#entete {
	width: 100%;
	height: 30px;
	margin-right: 10px;
	text-align: right;
}

a {
    display: inline-block;
    position: relative;
    padding-left: 6px;
    /* Font styles */
    text-decoration: none;
    color: #6AB3EC;
    text-shadow: 0 1px 1px rgba(255,255,255,0.9);
}
 
a:hover {
    color: #3C9CE7;
}
 
a:before {
    content: "\25BA";
    font-size: 80%;
    display: inline-block;
    padding-right: 3px;
    pointer-events: none;
}
 
a:before {
    color: #6880B7;
}

#contenu {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

#titre {
	font-family: "Star wars";
	font-size: 200%;
	color: #D1AD66;
}

.depth {
    display: block;
    border: 1px solid rgba(255,255,255,0.6);
    background: linear-gradient(#eee, #fff);
    transition: all 0.3s ease-out;
    box-shadow: 
        inset 0 1px 4px rgba(0,0,0,0.4);
    padding: 5px;
    color: #555;
}
 
.depth:focus {
    outline: none;
    background-position: 0 -1.7em;
}

 #formulaire {
	background: rgba(35, 44, 77, 0.8);
	border: 1px solid black rgba(147, 184, 189, 0.8);
	box-shadow: 0pt 2px 5px rgba(7, 11, 23, 0.7),
				0px 0px 8px 5px rgba(7, 11, 23, 0.4) inset;
	border-radius: 5px;
	color: #6977A5;
	padding-bottom: 15px;
} 

/* .bouton {
	width:30%;
	cursor: pointer;
	background: rgb(61, 157, 179);
	color: #fff;
	font-size:18px;
	border: 1px solid rgb(28, 108, 122);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.07) inset,
				0px 0px 0px 1.5px rgb(254, 254, 254),
				0px 2.5px 3px 1.5px rgb(210, 210, 210);
	transition: all 0.2s linear;
}*/

#liste_suspendues{
	width:100%;
	margin-left:100px;
}

#liste_attentes{
	width:100%;
	margin-margin:100px;
}

#barre_attente {
	width: 500px;
	height: 5px;
    background-color: white;
    animation: progressionAttente 15s;
    -webkit-animation: progressionAttente 15s;
}

#barre_temps {
	width: 0px;
	height: 5px;
    background-color: green;
    animation: progressionTempsRestant 30s;
    -webkit-animation: progressionTempsRestant 30s;
}

/* Pour la police personnalisée */
@FONT-FACE {
	font-family: "Star Wars";
	src: url('../ressources/polices/Starjout.ttf');
}

#table_lobby {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 10px 0;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
#th_lobby {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe url('../ressources/images/fondTable.jpg') repeat-x;
    opacity:0.6;
    border-top: 2px solid #d3ddff;
    border-bottom: 1px solid #fff;
    color: white;
}
#td_lobby {
    padding: 8px;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid #fff;
    background: #e8edff url('../ressources/images/fondTrooper.jpg') repeat-x;
    opacity:0.8;
    color: white;
}

#table_lobby a:hover {
    text-decoration:underline;
}    

/* Pour les animations */
@keyframes progressionAttente {
	from {width: 0px; background: rgba(255,255,255,0.4); }
	to {width: 500px; background: rgba(255,255,255,0.8); }
}

@-webkit-keyframes progressionAttente {
	from {width: 0px; background: rgba(255,255,255,0.4); }
	to {width: 500px; background: rgba(255,255,255,0.8); }
}

@keyframes progressionTempsRestant {
	from {width: 500px; background-color: rgba(255,255,255,0.5);}
	to {width: 0px; background-color: rgba(255,255,255,0.9);}
}

@-webkit-keyframes progressionTempsRestant {
	from {width: 500px; background-color: rgba(255,255,255,0.5);}
	to {width: 0px; background-color: rgba(255,255,255,0.9);}
}